[submodule "bitbake"]
	path = layers/bitbake
	url = ../bitbake
	branch = WRLINUX_10_17_BASE_UPDATE0001
[submodule "oe-core"]
	path = layers/oe-core
	url = ../oe-core
	branch = WRLINUX_10_17_BASE_UPDATE0001
[submodule "meta-intel"]
	path = layers/meta-intel
	url = ../meta-intel
	branch = WRLINUX_10_17_BASE_UPDATE0001
[submodule "wrlabs-integration"]
	path = layers/wrlabs-integration
	url = ../wrlabs-integration
	branch = master
[submodule "xilinx-zynq"]
	path = layers/xilinx-zynq
	url = ../xilinx-zynq
	branch = pulsar-8
[submodule "meta-overc"]
	path = layers/meta-overc
	url = ../meta-overc
	branch = master-oci
[submodule "overc-installer"]
	path = overc-installer
	url = ../../OverC/overc-installer
	branch = master-oci
[submodule "meta-openembedded"]
	path = layers/meta-openembedded
	url = ../meta-openembedded
	branch = WRLINUX_10_17_BASE_UPDATE0001
[submodule "meta-virtualization"]
	path = layers/meta-virtualization
	url = ../meta-virtualization
	branch = WRLINUX_10_17_BASE_UPDATE0001
[submodule "oe-meta-go"]
	path = layers/oe-meta-go
	url = ../oe-meta-go
	branch = ovp7-20150902
[submodule "qemuarma9"]
	path = layers/qemuarma9
	url = ../qemuarma9
	branch = master
[submodule "qemuarm"]
	path = layers/qemuarm
	url = ../qemuarm
	branch = LB13_8.0_RCPL0001
[submodule "fsl-ls10xx"]
	path = layers/fsl-ls10xx
	url = ../fsl-ls10xx
	branch = pulsar-8
[submodule "meta-gateway"]
	path = layers/meta-gateway
	url = ../meta-gateway
	branch = master
[submodule "vendor-proprietary"]
	path = layers/vendor-proprietary
	url = ../vendor-proprietary
	branch = master
[submodule "meta-cloud-services"]
	path = layers/meta-cloud-services
	url = ../meta-cloud-services
	branch = WRLINUX_10_17_BASE_UPDATE0001
[submodule "meta-browser"]
	path = layers/meta-browser
	url = git://github.com/OSSystems/meta-browser.git
	branch = master
[submodule "meta-security"]
        path = layers/meta-security
        url = ../meta-security
        branch = WRLINUX_10_17_BASE_UPDATE0001
[submodule "external-binaries"]
	path = layers/external-binaries
	url = ../external-binaries
	branch = master
[submodule "wr-hac-agent"]
	path = layers/wr-hac-agent
	url = ../wr-hac-agent
	branch = master
[submodule "meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = master
[submodule "meta-secure-core"]
	path = layers/meta-secure-core
	url = ../meta-secure-core.git
	branch = WRLINUX_10_17_BASE_UPDATE0001
[submodule "meta-dpdk"]
	path = layers/meta-dpdk
	url = ../meta-dpdk
	branch = WRLINUX_10_17_BASE_UPDATE0001
[submodule "meta-java"]
	path = layers/meta-java
	url = ../meta-java
	branch = pulsar-2017
