[submodule "bitbake"]
	path = layers/bitbake
	url = ../bitbake
	branch = wr-7.0-20141118
[submodule "oe-core"]
	path = layers/oe-core
	url = ../oe-core
	branch = wr-7.0-20141118
[submodule "wrlinux"]
	path = layers/wrlinux
	url = ../wrlinux
	branch = LB21_7.0_RCPL0010
[submodule "wr-kernel"]
	path = layers/wr-kernel
	url = ../wr-kernel
	branch = LB21_7.0_RCPL0010
[submodule "wr-base"]
	path = layers/wr-base
	url = ../wr-base
	branch = LB21_7.0_RCPL0012
[submodule "wr-fixes"]
	path = layers/wr-fixes
	url = ../wr-fixes
	branch = LB21_7.0_RCPL0010
[submodule "meta-intel"]
	path = layers/meta-intel
	url = git://git.yoctoproject.org/meta-intel
	branch = dizzy
[submodule "wrlabs-integration"]
	path = layers/wrlabs-integration
	url = ../wrlabs-integration
	branch = LB21_7.0_RCPL0002
[submodule "xilinx-zynq"]
	path = layers/xilinx-zynq
	url = ../xilinx-zynq
	branch = LB21_7.0_RCPL0010
[submodule "meta-overc"]
	path = layers/meta-overc
	url = ../meta-overc
	branch = master
[submodule "overc-installer"]
	path = overc-installer
	url = ../overc-installer
	branch = master
[submodule "meta-openembedded"]
	path = layers/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = master
[submodule "meta-virtualization"]
	path = layers/meta-virtualization
	url = git://git.yoctoproject.org/meta-virtualization
	branch = master
[submodule "oe-meta-go"]
	path = layers/oe-meta-go
	url = ../oe-meta-go
	branch = ovp7-20150902
[submodule "qemuarma9"]
	path = layers/qemuarma9
	url = ../qemuarma9
	branch = LB21_7.0_RCPL0010
[submodule "qemuarm"]
	path = layers/qemuarm
	url = ../qemuarm
	branch = LB21_7.0_RCPL0010
[submodule "wr-tools-debug"]
	path = layers/wr-tools-debug
	url = ../wr-tools-debug
	branch = LB21_7.0_RCPL0010
[submodule "wrll-hac"]
	path = layers/wrll-hac
	url = ../wrll-hac
	branch = master
[submodule "fsl-ls10xx"]
	path = layers/fsl-ls10xx
	url = ../fsl-ls10xx
	branch = beta
[submodule "meta-gateway"]
	path = layers/meta-gateway
	url = ../meta-gateway
	branch = master
[submodule "vendor-proprietary"]
	path = layers/vendor-proprietary
	url = ../vendor-proprietary
	branch = master
